@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.bg-img {
  height: 75vh;
  position: relative;
}
.register-img {
  width: 100%;
  height: 75vh;
}

.bg-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  background-color: rgba(6, 120, 219, 0.5);
}

.color {
  color: #fff;
}

.text-width {
  width: 70%;
}


.registration-btn{
  background-color: #0084FF !important;
}



/* login css */
#login-f {
  max-width: 552px;
  max-height: 552px;
  padding: 48px 72px !important;
  background-color: white;
}

.cont-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.log-btn{
  background-color: #0084FF !important;
  margin-bottom: 24px;
}

.btn-primary:hover{
  background-color: #0d6efd;
}

.dont-acc{
  color: #98A2B3 !important;
}

.login-pg{
  font-family: "Open Sans", sans-serif;
}