.package-header ul {
  list-style: none;
  padding: 15px 0;
}

.package-header {
  padding: 120px;
}
.package-header .card {
  padding: 28px 20px !important;
  border-radius: 18px;
  width: 16rem;
  height: 450px;
}
.package-header .card:nth-child(2) {
  border: 1px solid #408FFF;

}
.package-header ul li {
  display: flex;
  column-gap: 10px;
  font-size: 14px;
  color: #838383;
  line-height: 30px;
}


.package-header .card-body {
  padding: 0;
}

.packages h3 span {
  color: #838383;
  font-size: 15px;
}
.blue-section {
  padding: 100px;
  background-color: #0f77ff;
}

.blue-section {
  color: white !important;
  .fs-1 {
    font-size: 45px !important;
    padding-bottom: 60px;
  }
}

.profiles-p {
  max-width: 330px;
  margin-bottom: 0;
}

.faq-section {
  h4 {
    font-size: 38px;
  }
  .questions {
    p {
      font-size: 20px;
      display: flex;
      align-items: center;
      svg {
        color: #838383;
        margin-right: 10px;
      }
    }
  }
}
