.sc-gauge {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

.sc-background {
  position: relative;
  height: 150px;
  margin-bottom: 10px;
  background-color: rgba(64, 143, 255, 0.2);
  border-radius: 200px 200px 0 0;
  overflow: hidden;
  text-align: center;
}

.sc-mask {
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  height: 160px;
  border-radius: 200px 200px 0 0;
  background-color: #f8f8f8;
}

.sc-percentage {
  position: absolute;
  top: 200px;
  left: -200%;
  width: 365%;
  height: 150%;
  margin-left: 200px;
  background-color: #0f77ff;
}

.sc-percentage {
  transform: rotate(var(--angle));
  transform-origin: top center;
}

.sc-min {
  float: left;
}

.sc-max {
  float: right;
}

.sc-value {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
}
