.bg-testimg {
  height: 338px;
  background-image: url("../../assets/img/testpageimg.jfif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
}

.bg-testimg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 119, 255, 0.25);
}

.text-position {
  position: absolute;
  color: #fff;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.li {
  border: 1px solid;
  border-radius: 18px;
  transition: border 0.3s ease;
  cursor: pointer;
}

.li:hover {
  border: 1px solid #0f77ff;
}

.progress {
  border-radius: 0px !important;
}
input[type=radio]{
    display: none;
}
input[type=radio]{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
}