.active {
  background-color: #0084FF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

a{
  text-decoration: none;
}
.login {
  font-size: 20px;
}

.signup{
    font-size: 18px;
}

.navbar-brand{
  height: 55px;
  width: 115px;
}

.logo{
height: 62px;
width: 130px;
object-fit: contain;
}
