.text>h1,
.text>h2,
.text>h3,
.text>h4 {
  font-size: 20px;
  color: #0f77ff;
}
.container .row .div__text .div__text2 {
  color: #0f77ff;
}
.container .row .div__text .div__text2 a{
  display: flex;
  align-items: center;
}
.container .row .div__text .div__text2 a img{
width: 20px;

}
.container .row .div__text .div__text2 a .fa{
width: 12px;
}
.container .row .div__text .div__text2 a .you{
width: 24px;
}

.container .row .div__text {
  color: #838383;
}

.container .row .text>a {
  font-size: 16px;
  line-height: 35px;
  text-align: left;
  text-decoration: none;
  color: #838383;
}

.container .row .text a img {
  width: 16px;
}