.notfound {

    a {
        color: #0084ff !important;
        text-decoration: none !important;

    }

    a:hover {
        text-decoration: underline !important;
    }

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.notF-page {
    display: flex;
    justify-content: center;
    align-items: center;

    .w-75 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.p404 {
    font-size: 150px;
    font-weight: bolder;
    font-family: "Outfit", sans-serif;
    color: #0084ff;


}